<launch>
    <!-- <node name="plants_topology" pkg="dinsdale" type="node_topology_plants" /> -->
    <node name="controller0" pkg="dinsdale" type="node_controller" args="0" />
    <node name="controller1" pkg="dinsdale" type="node_controller" args="1" />
    <node name="controller2" pkg="dinsdale" type="node_controller" args="2" />
    <node name="plant0" pkg="dinsdale" type="node_plant" args="0" />
    <node name="plant1" pkg="dinsdale" type="node_plant" args="1" />
    <node name="plant2" pkg="dinsdale" type="node_plant" args="2" />


</launch>
